*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: sans-serif;
}
th
{
    padding-left: 15px
}
td
{
    padding-left: 25px;
    padding-right: 10px;
}
table
{
    padding-top: 20px;
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
    background-image: linear-gradient(to right, #05e9b0, #0a0ef7);
    padding: 0 !important;
}
.navbar-brand img
{
    height: 50px;
    padding-left: 20px;
}
.navbar-nav li
{
    padding: 0px 10px;
}
.navbar-nav li a
{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-bars
{
    color: #fff;
    font-size: 30px !important;
}
.navbar-toggler
{
    outline: none !important;
}

/*----welcome----*/
#welcome
{
    background-image: linear-gradient(to right, #05e9b0, #0a0ef7);
    color: #fff;
    padding-top: 2%;
}
.intro-title
{
 font-size: 40px;
 font-weight: 500;
 margin-top: 75px;
}
#avatar400Brittany
{
    margin-top: 55px;
}
.title::after
{
    content: '';
    background: linear-gradient(to right, #05e9b0, #0a0ef7);
    height: 5px;
    width: 400px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/*-----Projects, Experience and service-----*/
#projects, #communityService, #education
{
    padding: 80px 0;
}
#workExperience
{
    padding-top: 80px;
}
#workExperience, #communityService
{
    background-color: #f5fcff;
}
.project-img
{
    width: 100px;
    height: 100px;
    margin-top: 10px;
}
.service-img
{
    height: 100px;
    margin-top: 10px;
}
.experience-img
{
    margin-top: 10px;
    height: 235px;
}
.project, .service
{
    padding: 20px;
}
.project h5, .service h5
{
    padding: 5px;
    margin-top: 20 px;
}
